<div class="scoring-box hidden" id="score-box-{{id}}">
  <center><h3 class="form-text">{{name}}</h3></center>
  <div class="score-tab-container">
    <div class="score-tab">
      <button class="tab-button" id="10-{{id}}">10</button>
    </div>
    <div class="score-tab selected">
      <button class="tab-button" id="9-{{id}}">9</button>
    </div>
    <div class="score-tab">
      <button class="tab-button" id="8-{{id}}">8</button>
    </div>
    <div class="score-tab">
      <button class="tab-button" id="7-{{id}}">7</button>
    </div>
    <div class="score-tab">
      <button class="tab-button" id="6-{{id}}">6</button>
    </div>
    <div class="score-tab">
      <button class="tab-button" id="5-{{id}}">5</button>
    </div>
    <div class="score-tab">
      <button class="tab-button" id="4-{{id}}">4</button>
    </div>
    <div class="score-tab">
      <button class="tab-button" id="3-{{id}}">3</button>
    </div>
    <div class="score-tab">
      <button class="tab-button" id="2-{{id}}">2</button>
    </div>
    <div class="score-tab">
      <button class="tab-button" id="1-{{id}}">1</button>
    </div>
    <div class="score-tab">
      <button class="tab-button" id="0-{{id}}">0</button>
    </div>
  </div>
  <div class="score-container" id="scoring-container-{{id}}">
    <button class="score-button">9.95</button>
    <button class="score-button">9.90</button>
    <button class="score-button">9.85</button>
    <button class="score-button">9.80</button>
    <button class="score-button">9.75</button>
    <button class="score-button">9.70</button>
    <button class="score-button">9.65</button>
    <button class="score-button">9.60</button>
    <button class="score-button">9.55</button>
    <button class="score-button">9.50</button>
    <button class="score-button">9.45</button>
    <button class="score-button">9.40</button>
    <button class="score-button">9.35</button>
    <button class="score-button">9.30</button>
    <button class="score-button">9.25</button>
    <button class="score-button">9.20</button>
    <button class="score-button">9.15</button>
    <button class="score-button">9.10</button>
    <button class="score-button">9.05</button>
    <button class="score-button">9.00</button>
  </div>
</div>
